<!DOCTYPE html>

<html>

    <head>
        <title></title>
    </head>

    <body>

        <div>
            <!-- Search -->
            <div>
                <sn-record-picker
                        field="client.searchedEmployee"
                        table="'sys_user'"
                        display-field="'name'"
                        display-fields="'title,email'"
                        value-field="'sys_id'"
                        search-fields="'name,title,department'"
                        page-size="100" >
                </sn-record-picker>
            </div>

            <!-- Reset to the top button -->
            <button type="button"
                    class="btn btn-primary background"
                    ng-click="resetToCEO()">
                Reset to top
            </button>

            <!-- Reset to me button -->
            <button type="button"
                    class="btn btn-primary background"
                    ng-click="resetToMe()">
                Reset to me
            </button>

        </div>

        <!-- View  -->
        <div id="org-chart"></div>

        <div id="loader"></div>

        <div id="error-display"></div>

    </body>

</html>