@font-face {
    font-family:'Raleway';
    src: url('/sys_attachment.do?sys_id=18ca419cdb51230094713220ad961947');
    font-weight: normal;
    font-style: normal;
}

/* button style */
.background {
    background-color:#00008b;
    width:200px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
}